html {
  height: 100%; /* makes sure our HTML takes up 100% of the browser window */
  font-size: 100%;
}

body {
  background-color: AntiqueWhite;
  font-family: 'Open Sans'; /* sets our font to the "Open Sans" typeface */
  color: BurlyWood;             /* sets the text color to white */
  min-height: 100%;         /* says the height of the body must be, at minimum, 100% of the window */
  padding-bottom: 200px;
}

#pong_table 
{ 
  width: 80vh;
  margin: 0 auto -20vh auto;
  height: 80vh;
  border:  solid 4px DarkGreen;
  background-color: chartreuse;
  display:block;
}
#scorebar
{
  display: block;
  text-align: center;
}

.score
{
  display: inline-block;
  font-weight: bold;
  margin:  -3em 5em;
}

*, *::before, *::after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* Medium screens (640px) */
@media (min-width: 640px) {
  html { font-size: 112%; }
}

/* Large screens (1024px) */
@media (min-width: 1024px) {
  html { font-size: 120%; }
}

h1
{
  text-align: center;
}